$text-color : #000;

.posts{
    list-style-type: none;
    margin: 0;
   
}

.post{
    margin: 1rem 0;
   text-decoration: none;

  a{
      background-color: #A7FF83;
      color: $text-color;
      display: block;
      padding: 1rem;
      text-decoration: none;
  }
}

